* {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: 900;
}

h2{
  font-size: 30px;
}

/* #alert{
  width: 300px;
  background-color: #920d0d;
  position: absolute;
  position: fixed;
  z-index: 100000;
  right: 0;
  transition: all ease-in-out 0.5s;
  visibility: visible;
} */

/* #alert.active{
  visibility: visible;
  transition: all ease-in-out 0.5s;
  visibility: hidden;
} */

.footer {
  background-color: #920d0d;
}






