#introMain .carousel-inner, #introMain .carousel-item{
    height: 90vh;
}

@media (max-width: 760px){
    #introMain .carousel-inner, #introMain .carousel-item{
       height: auto; 
    }
}
/* 
#introMain img{
    width: 100%;
} */

/* .carousel-caption{
    top: 30%;
} */

.especialidade{
    background-image: url("");
}