
.produto-container{
}

.produto-item{
    border: 2px solid red;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px){
    .produto-item{
        max-width: none;
    }
}

.produto-img{
    width: 200px;
}

.produto-img img{
    width: 100%;
}